* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Poppins', sans-serif; 
}

body {
    background-color: #0d1117; 
    color: white;
    line-height: 1.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 22px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: #fff; 
    color: black;

}
    

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px; 
}

.logo-img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}