* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Poppins', sans-serif; 
}

body {
    background-color: #0d1117; 
    color: white;
    line-height: 1.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 22px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: #fff; 
    color: black;

}
    

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px; 
}

.logo-img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

btn-primary {
    background-color: #2ea043;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 650;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #238636;
}

.banner-section {
    padding: 100px 0;
    background: linear-gradient(rgba(13, 17, 23, 0.85), rgba(13, 17, 23, 0.9)), url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
}

.badge {
    display: inline-block;
    border: 1px solid #2ea043;
    color: #2ea043;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
    background: rgba(46, 160, 67, 0.1);
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.highlight {
    color: #2ea043;
}

.banner-content p {
    color: #8b949e;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.btn-green {
    background-color: #2ea043;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.btn-green:hover {
    background-color: #238636;
}

.btn-outline {
    background: transparent;
    border: 1px solid #30363d;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.btn-outline:hover {
    border-color: #8b949e;
}

.notes-section {
    padding: 100px 25px;
    text-align: center;
}

.section-header h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

.subtitle {
    color: #8b949e;
    margin-bottom: 50px;
}

.cards-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    color: #000;
    padding: 30px;
    border-radius: 12px;
    width: 260px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Circle shape */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.red icon { background-color: #ff6b6b; }
.orange icon { background-color: #ff9f43; }
.pink icon { background-color: #ff9ff3; }

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}


.second-brain-section {
    background-color: #fff;
    color: #000;
    padding: 100px 0;
}

.brain-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.brain-text {
    max-width: 500px;
}

.highlight-text {
    color: #2ea043;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}