* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 'Poppins', sans-serif; 
}

body {
    background-color: #0d1117; 
    color: white;
    line-height: 1.8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 22px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: #fff; 
    color: black;

}
    

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px; 
}

.logo-img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

btn-primary {
    background-color: #2ea043;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 650;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #238636;
}

.banner-section {
    padding: 100px 0;
    background: linear-gradient(rgba(13, 17, 23, 0.85), rgba(13, 17, 23, 0.9)), url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
}

.badge {
    display: inline-block;
    border: 1px solid #2ea043;
    color: #2ea043;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
    background: rgba(46, 160, 67, 0.1);
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.highlight {
    color: #2ea043;
}

.banner-content p {
    color: #8b949e;
    margin-bottom: 30px;
    font-size: 20px;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 18px;
}